body {
  background-color: lavender;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: slategray;
  font-family: 'Comic Sans MS', 'Papyrus', 'Helvetica', sans-serif
}

ul {
  list-style: none;
}

form {
  text-align: center;
}

label {
  font-size: .5em;
}

li {
  text-decoration: underline;
  text-align: center;
}

.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
