body {
  background-color: rgb(179, 237, 17);
}
h1 {
  font-size: 50px;
  text-align: center;
}
#submit-area-div {
  margin-left: 50%;
  left: -80px;
  display: block;
  height: 50px;
  width: 235px;
  position: relative;
}
#finished-the-list {
  position: absolute;
  left: 0px;
  bottom: 3px;
}
#add-it {
  position: absolute;
  right: 0px;
  top: 2px;
}

.App {
  text-align: center;
}
li {
  list-style-type: none;
  text-decoration: underline gray;
  font-size: 30px;
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
